html(lang="en")
	head
		link(href="/css/remote.css", rel="stylesheet", type="text/css")
		link(href="/css/dark.css", rel="stylesheet", type="text/css")
		meta(id="mobile-address-bar-color", name="theme-color", content="#202020")
		script(src="/js/remote.js")
		script(src="/js/util.js")
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="mobile-web-app-capable", content="yes")
		link(href="/manifest.json", rel="manifest")
	body
		a#finder(href="/")
			| &#x1F50D;
		#volume-ctr
			button#volume-up
				| &#x1F50A;
			button#volume-down
				| &#x1F509;
			button#volume-toggle-mute
				| &#x1F507;
		#play-pause-ctr.show-pause
			button#play
				| &#x25b6;
			button#pause
				| &#x23f8;
		button#stop
			| &#x23f9;
		#accel-ctr
			button#fr-1h
				| &#x23ea;
			button#fr-10m
				| &#x23ea;
			button#fr-30s
				| &#x23ea;
			button#ff-30s
				| &#x23e9;
			button#ff-10m
				| &#x23e9;
			button#ff-1h
				| &#x23e9;
		#subtitle-ctr.show-turn-off
			button#turn-subtitles-on
				| Turn subtitles on
			button#turn-subtitles-off
				| Turn subtitles off
