body {
	display: grid;
	grid-template-areas:
	'finder      finder      play-pause  play-pause  stop        stop       '
	'toggle-mute toggle-mute volume-down volume-down volume-up   volume-up  '
	'fr-1h       fr-10m      fr-30s      ff-30s      ff-10m      ff-1h      '
	'subtitles   subtitles   subtitles   subtitles   subtitles   subtitles  '
	;
	grid-template-rows: 1fr 1fr 15vh 1fr;
	grid-auto-columns: 1fr;
	grid-gap: 1em;

	box-sizing: border-box;
	margin: 0;
	padding: 1em;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: sans-serif;
}

#volume-up {
	grid-area: volume-up;
}

#volume-down {
	grid-area: volume-down;
}

#volume-toggle-mute {
	grid-area: toggle-mute;
}

#fr-1h { grid-area: fr-1h; }
#fr-10m { grid-area: fr-10m; }
#fr-30s { grid-area: fr-30s; }
#ff-30s { grid-area: ff-30s; }
#ff-10m { grid-area: ff-10m; }
#ff-1h { grid-area: ff-1h; }

#play, #pause {
	grid-area: play-pause;
}

#turn-subtitles-on, #turn-subtitles-off {
	grid-area: subtitles;
}

#volume-ctr, #play-pause-ctr, #accel-ctr, #subtitle-ctr {
	display: contents;
}

button, a {
	border: none;
}

@media (orientation: landscape) {
	button, a { font-size: 10vh; }
	#accel-ctr > button { font-size: 6vh; }
}

@media (orientation: portrait ) {
	button, a { font-size: 10vw; }
	#accel-ctr > button { font-size: 6vw; }
}

#play-pause-ctr.show-play > #pause,
#play-pause-ctr.show-pause > #play,
#subtitle-ctr.show-turn-on > #turn-subtitles-off,
#subtitle-ctr.show-turn-off > #turn-subtitles-on
{
	display: none;
}

#finder {
	grid-area: finder;
	text-decoration: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#stop {
	grid-area: stop;
}
